$neutral-blue: #1fb8d7;
$learn-green: #20dca8;
$learn-blue: #20ccdc;
$create-purple: #c58de5;
$create-blue: #5e67e0;
$create-purple-dull: #8a7299;
$content-bg: #FFFFFFC0;
$text-color: white;
$button-color: white;
$darker: 10%;

body{
    font-family: "Roboto", sans-serif;
    color: $text-color;
    
    .main {
        display: flex;
        background-image: linear-gradient(#FFFFFF, #CFCFCF);
        width: 100vw;
        height: 95vh;
        margin-top: 5vh;
    }

    .neutral-header {
        background-color: $neutral-blue;
    }

    .learn-header {
        background-color: $learn-green
    }

    .create-header {
        background-color: $create-purple;
    }

    .neutral-pane {
        background-image: linear-gradient(to bottom right, $neutral-blue, darken($neutral-blue, $darker));
        box-shadow: 3px 3px 15px lighten($neutral-blue, 10%);    }

    .learn-pane {
        background-image: linear-gradient(to bottom right, $learn-green, $learn-blue);
        box-shadow: 3px 3px 15px lighten($learn-green, 10%);    }

    .create-pane {
        background-image: linear-gradient(to bottom right, $create-purple 25%, $create-blue);
        box-shadow: 3px 3px 15px lighten($create-purple, 10%);
    }

    .side-bar {
        color: $text-color;
        height: 100%;
        width: 25%;
    }
    .neutral-side-bar {
        background-color: darken($neutral-blue, $darker);
        background-image: linear-gradient(darken($neutral-blue, $darker), $neutral-blue);
    }
    .learn-side-bar {
        background-color: darken($learn-green, $darker);
        background-image: linear-gradient(darken($learn-green, $darker), $learn-green);
    }
    .create-side-bar {
        background-color: darken($create-purple, $darker);
        background-image: linear-gradient(darken($create-purple, $darker), $create-purple);
    }

    button {
        margin: 5px;
        padding: 5px;
        border-width: 1px;
        border-radius: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }
    .button {
        margin: 5px;
        padding: 5px;
        border-width: 1px;
        border-radius: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        cursor: pointer;
    }

    .neutral-btn {
        background-image: linear-gradient(to right, lighten($neutral-blue, 15%), $button-color);
    }

    .learn-btn {
        background-image: linear-gradient(to right, lighten($learn-green, 30%), $button-color);
    }

    .create-btn {
        background-image: linear-gradient(to right, lighten($create-purple, 15%), $button-color);
    }

    input {
        font-family: "Roboto", sans-serif;
        border-radius: 10px;
    }

    textarea {
        font-family: "Roboto", sans-serif;
        border-radius: 10px;
    }
}