body {
    margin: 0;

    #header {
        position: fixed;
        height: 5vh;
        width: 100%;
        top: 0;
        
        a{
            display: contents;
            
            img {
                position: absolute;
                left: 10px;
                height: 100%;
            }
        }
        button {
            display: contents;

            img {
                position: absolute;
                height: 100%;
                right: 10px;
            }
        }
    }
}