body {
    margin: 0;

    #header {
        position: fixed;
        height: 5vh;
        width: 100%;
        top: 0;
        
        #cover {
            display: contents;
            
            img {
                position: absolute;
                left: 10px;
                height: 100%;
            }
        }
    }
    #hover-zone {
        display: content;

        .hamburger {
            display: contents;

            img{
                position: fixed;
                top: 0;
                right: 10px;
                height: 5vh;
            }
        }
        #dropdown-menu {
            display: none;
            position: fixed;
            top: 5vh;
            right: 1vw;
            width: min-content;
            padding: 20px;
            border-radius: 10px;
            border-top-right-radius: 0;
            z-index: 100;
            
            a{
                display: content;
                
                img {
                    height: 50px;
                }
            }
        }
    }
}