body {
    #lab-builder-main {
        display: flex;
        flex-direction: row;

        #workspace {
            position: relative;
            width: 75vw;

            #new-step-btn {
                display: contents;
                
                img {
                    position: absolute;
                    left: 85%;
                    top: 40%;
                    width: 25%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
            }
        }

        #controls {
            display: flex;
            margin: 1%;
            position: absolute;
            bottom: 0;
            width: 73%;
            align-content: center;
            justify-content: right;
            
            #step-details {
                display: flex;
                padding: 10px;
                width: 80%;
                flex-direction: column;
                border-radius: 25px;

                #step-name {
                    width: 33%;
                }
                #step-instruction {
                    border-radius: 10px;
                    padding: 5px;
                    resize: none;
                    border: none;
                }
            }
            #control-btns {
                display: flex;
                flex-direction: column;
                width: 20%;

                .lab-overview-btn {
                    display: none;
                }
                .new-step-btn {
                    
                }
            }
        }
        #steps-side-bar {
            display: flex;
            
            h1 {
                width: 100%;
                text-align: center;
            }
        }
    }
}