body {
  font-family: "Roboto", sans-serif;
  color: white; }
  body .main {
    display: flex;
    background-image: linear-gradient(#FFFFFF, #CFCFCF);
    width: 100vw;
    height: 95vh;
    margin-top: 5vh; }
  body .neutral-header {
    background-color: #1fb8d7; }
  body .learn-header {
    background-color: #20dca8; }
  body .create-header {
    background-color: #c58de5; }
  body .neutral-pane {
    background-image: linear-gradient(to bottom right, #1fb8d7, #1992aa);
    box-shadow: 3px 3px 15px #45c9e4; }
  body .learn-pane {
    background-image: linear-gradient(to bottom right, #20dca8, #20ccdc);
    box-shadow: 3px 3px 15px #4ae5ba; }
  body .create-pane {
    background-image: linear-gradient(to bottom right, #c58de5 25%, #5e67e0);
    box-shadow: 3px 3px 15px #dab7ee; }
  body .side-bar {
    color: white;
    height: 100%;
    width: 25%;
    overflow: scroll; }
  body .neutral-side-bar {
    background-color: #1992aa;
    background-image: linear-gradient(#1992aa, #1fb8d7); }
  body .learn-side-bar {
    background-color: #1aaf86;
    background-image: linear-gradient(#1aaf86, #20dca8); }
  body .create-side-bar {
    background-color: #b063dc;
    background-image: linear-gradient(#b063dc, #c58de5); }
  body button {
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    cursor: pointer; }
  body .button {
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    cursor: pointer; }
  body .neutral-btn {
    background-image: linear-gradient(to right, #5bd0e7, white); }
  body .neutral-btn:hover {
    background-image: linear-gradient(to right, #1fb8d7, #d9d9d9); }
  body .learn-btn {
    background-image: linear-gradient(to right, #a3f2dc, white); }
  body .learn-btn:hover {
    background-image: linear-gradient(to right, #61e8c3, #d9d9d9); }
  body .create-btn {
    background-image: linear-gradient(to right, #e5cbf3, white); }
  body .create-btn:hover {
    background-image: linear-gradient(to right, #c58de5, #d9d9d9); }
  body input {
    font-family: "Roboto", sans-serif;
    border-radius: 10px; }
  body textarea {
    font-family: "Roboto", sans-serif;
    border-radius: 10px; }
  body #scroll {
    width: 100%;
    height: 90%;
    overflow: scroll;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    body #scroll .content {
      width: 90%;
      min-height: 100%;
      background-color: #FFFFFFC0;
      color: black;
      line-height: 150%; }
      @media screen and (min-width: 775px) {
        body #scroll .content {
          font-size: 1.5rem; } }
      body #scroll .content div {
        margin: 20px;
        display: flex;
        flex-direction: column; }

body #create-main {
  justify-content: center;
  align-items: center; }
  body #create-main #grid-container {
    display: grid;
    grid-template-areas: '.         parts     .         labs      .' 'container container container container container';
    grid-template-rows: 40px 70vh;
    grid-template-columns: 1vw auto 5vw auto 1vw;
    max-width: 90vw;
    width: 1000px; }
    @media screen and (min-height: 500px) and (min-width: 550px) {
      body #create-main #grid-container {
        grid-template-rows: 75px 70vh; } }
    body #create-main #grid-container #parts-tab-btn {
      grid-area: parts; }
    body #create-main #grid-container #labs-tab-btn {
      grid-area: labs; }
    body #create-main #grid-container #tab-container {
      grid-area: container;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      margin: 0;
      max-height: 70vh;
      background-image: linear-gradient(to bottom, #c58de5 25%, #5e67e0); }
      body #create-main #grid-container #tab-container #labs-content {
        display: none; }
    body #create-main #grid-container .tab-btn {
      position: relative;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: none;
      margin: 0;
      color: white;
      font-size: 1rem;
      padding: 0; }
      @media screen and (min-height: 500px) and (min-width: 550px) {
        body #create-main #grid-container .tab-btn {
          font-size: 2rem;
          padding: 5px; } }
      body #create-main #grid-container .tab-btn a {
        display: contents; }
        body #create-main #grid-container .tab-btn a img {
          position: absolute;
          right: 10px;
          top: 10%;
          height: 80%; }
    body #create-main #grid-container .selected-tab {
      background-color: #c58de5;
      font-weight: bold; }
    body #create-main #grid-container .unselected-tab {
      background-color: #8a7299;
      height: 80%;
      align-self: flex-end; }

body {
  margin: 0; }
  body #header {
    position: fixed;
    height: 5vh;
    width: 100%;
    top: 0; }
    body #header a {
      display: contents; }
      body #header a img {
        position: absolute;
        left: 10px;
        height: 100%; }
    body #header button {
      display: contents; }
      body #header button img {
        position: absolute;
        height: 100%;
        right: 10px; }

body #index-main {
  position: relative;
  margin-top: 5vh;
  justify-content: center; }
  body #index-main #bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    clip-path: polygon(0 0, 80% 0, 78.5% 5%, 50% 100%, 0 100%);
    background-color: #1fb8d7;
    transition: clip-path .75s, background-color .75s; }
  body #index-main .clip-toggler:checked ~ #bg {
    clip-path: polygon(0 0, 100% 0, 100% 5%, 100% 5%, 0 5%); }
  body #index-main #learn-toggler:checked ~ #bg {
    background-color: #20dca8; }
  body #index-main #create-toggler:checked ~ #bg {
    background-color: #c58de5; }
  body #index-main .clip-toggler {
    position: fixed;
    left: -100px; }
  body #index-main #front {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    body #index-main #front .hamburger {
      display: contents; }
      body #index-main #front .hamburger img {
        position: fixed;
        top: 0;
        right: 10px;
        height: 5vh; }
    body #index-main #front #cover img {
      max-height: 75vh;
      max-width: 100vw; }
    body #index-main #front #buttons {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      width: 50vw;
      justify-content: center; }
      body #index-main #front #buttons button {
        min-width: 150px;
        width: 45%;
        margin-left: 0; }

body #lab-builder-main {
  flex-direction: row; }
  body #lab-builder-main #workspace {
    position: relative;
    width: 75vw;
    height: 100%; }
    body #lab-builder-main #workspace #build-so-far {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 75%; }
      body #lab-builder-main #workspace #build-so-far img {
        max-height: 80vh; }
    body #lab-builder-main #workspace #new-step-btn {
      display: contents; }
      body #lab-builder-main #workspace #new-step-btn img {
        position: absolute;
        left: 85%;
        top: 50%;
        width: 25%;
        transform: translate(-50%, -50%);
        cursor: pointer; }
  body #lab-builder-main #controls {
    display: flex;
    margin: 1%;
    position: absolute;
    bottom: 0;
    width: 73%;
    align-content: center;
    justify-content: right; }
    body #lab-builder-main #controls #step-details {
      display: flex;
      position: fixed;
      left: 0;
      bottom: 0;
      margin: 1vh 1vw;
      padding: 1vh 1vw;
      width: 800px;
      max-width: 70vw;
      flex-direction: column;
      border-radius: 25px; }
      body #lab-builder-main #controls #step-details #step-name {
        width: 33%;
        font-size: 1.5rem; }
      body #lab-builder-main #controls #step-details #step-instruction {
        margin-top: 5px;
        padding: 5px;
        resize: none;
        border: none;
        font-size: 1.25rem; }
      body #lab-builder-main #controls #step-details #minimize {
        position: absolute;
        top: 0;
        right: 0;
        height: min-content;
        border-radius: 100%;
        font-size: 1rem; }
    body #lab-builder-main #controls #control-btns {
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 25%; }
      body #lab-builder-main #controls #control-btns button {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 0;
        font-size: 1.5rem; }
      @media screen and (min-width: 800px) {
        body #lab-builder-main #controls #control-btns {
          flex-direction: row; }
          body #lab-builder-main #controls #control-btns button {
            width: 45%;
            font-size: 2rem; } }
  body #lab-builder-main #steps-side-bar {
    display: flex;
    flex-direction: column; }
    body #lab-builder-main #steps-side-bar h1 {
      right: 12.5%;
      transform: translate(50%, 0);
      position: fixed;
      text-align: center;
      width: 25%;
      background-color: #b063dc;
      margin-top: 0; }
    body #lab-builder-main #steps-side-bar #step-list {
      position: relative;
      font-size: 1.5rem;
      margin-top: 0;
      margin-left: 10px;
      word-wrap: break-word;
      top: 50px;
      padding-bottom: 65px; }
  body #lab-builder-main #part-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    width: 1000px;
    height: 80vh;
    border-radius: 50px; }
    body #lab-builder-main #part-selector #scroll {
      margin-top: 50px;
      height: 85%; }
      body #lab-builder-main #part-selector #scroll #parts-content span {
        width: min-content;
        cursor: pointer; }

body #learn-main {
  justify-content: center;
  align-items: center; }
  body #learn-main #assigned-labs-container {
    display: grid;
    grid-template-areas: 'lab           owner         .' 'content-table content-table content-table';
    grid-template-columns: 45% 45% 10%;
    grid-template-rows: 70px auto;
    height: 80vh;
    width: 90vw;
    padding: 0 0 20px;
    border-radius: 50px; }
    body #learn-main #assigned-labs-container h1 {
      width: 100%;
      text-align: center; }
    body #learn-main #assigned-labs-container #lab-header {
      grid-area: lab; }
    body #learn-main #assigned-labs-container #owner-header {
      grid-area: owner; }
    body #learn-main #assigned-labs-container #scroll {
      grid-area: content-table;
      display: flex;
      overflow: scroll;
      position: relative;
      max-width: 95%; }
      @media screen and (min-width: 775px) {
        body #learn-main #assigned-labs-container #scroll {
          max-width: 100%; } }
      body #learn-main #assigned-labs-container #scroll div {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-end;
        min-height: 100%;
        background-color: #FFFFFFC0;
        color: black;
        line-height: 125%;
        padding: 5px; }
        @media screen and (min-width: 775px) {
          body #learn-main #assigned-labs-container #scroll div {
            font-size: 2rem; } }
      body #learn-main #assigned-labs-container #scroll #lab-col {
        width: 42%;
        margin-left: 3%; }
      body #learn-main #assigned-labs-container #scroll #owner-col {
        width: 42%;
        margin-left: 48%; }
      body #learn-main #assigned-labs-container #scroll #check-col {
        width: 5%;
        margin-left: 93%;
        align-items: center; }
        body #learn-main #assigned-labs-container #scroll #check-col img {
          position: absolute; }

body #login-main {
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  body #login-main button {
    font-size: 1rem; }
  body #login-main .button {
    font-size: 1rem; }
  body #login-main .container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    max-width: 100vw;
    width: 400px; }
  body #login-main form {
    display: grid;
    grid-template-columns: 8% 23% 23% 23% 23%;
    grid-template-areas: 'h1       h1                h1               h1               h1' 'email    email             .                .                .' '.        email-input       email-input      email-input      email-input' 'password password          .                .                .' '.        password-input    password-input   password-input   password-input' '.        password-confirm  password-confirm password-confirm password-confirm' 'buttons  buttons           buttons          buttons          buttons'; }
    body #login-main form h1 {
      grid-area: h1;
      width: 100%;
      text-align: center; }
    body #login-main form .email-label {
      grid-area: email; }
    body #login-main form .email-input {
      grid-area: email-input; }
    body #login-main form .password-label {
      grid-area: password;
      margin-top: 10px; }
    body #login-main form .password-input {
      grid-area: password-input; }
    body #login-main form .password-confirm {
      grid-area: password-confirm; }
    body #login-main form .buttons {
      grid-area: buttons;
      display: flex;
      align-content: flex-end;
      justify-content: center;
      margin-top: 10px;
      width: 100%; }
    body #login-main form label {
      font-size: 1.25rem; }

body #part-builder-main #settings-side-bar h1 {
  font-size: .75em; }

body #part-builder-main #settings-side-bar h2 {
  font-size: 1em; }

body #part-builder-main #settings-side-bar {
  position: relative;
  display: grid;
  grid-template-areas: 'name-label       name-label       .          .' '.                name-input       name-input .' 'dimensions-label dimensions-label .          .' '.                x-label          x-label    .' '.                .                x          .' '.                y-label          y-label    .' '.                .                y          .' 'add-btns         add-btns         add-btns   add-btns';
  grid-template-columns: 10% 10% 75% 5%;
  grid-template-rows: 40px 30px 40px 30px 30px 30px 30px auto;
  align-items: center;
  overflow: visible; }
  @media screen and (min-width: 550px) {
    body #part-builder-main #settings-side-bar {
      grid-template-areas: 'name-label       name-label       .          .' '.                name-input       name-input .' 'dimensions-label dimensions-label .          .' '.                x-label          x          .' '.                y-label          y          .' 'add-btns         add-btns         add-btns   add-btns';
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-rows: 40px 30px 40px 30px 30px auto; }
      body #part-builder-main #settings-side-bar h1 {
        font-size: 1.25em; } }
  @media screen and (min-width: 900px) {
    body #part-builder-main #settings-side-bar {
      grid-template-rows: 70px 50px 70px 50px 50px auto; }
      body #part-builder-main #settings-side-bar input {
        font-size: 1.25em; }
      body #part-builder-main #settings-side-bar h1 {
        font-size: 2em; }
      body #part-builder-main #settings-side-bar h2 {
        font-size: 1.5em; } }
  @media screen and (min-width: 1600px) {
    body #part-builder-main #settings-side-bar {
      grid-template-areas: 'name-label       name-label       .          .          .          .' '.                name-input       name-input name-input name-input .' 'dimensions-label dimensions-label .          .          .          .' '.                x-label          x          y-label    y          .' 'add-btns         add-btns         add-btns   add-btns   add-btns   add-btns';
      grid-template-columns: 10% 20% 20% 25% 20% 5%;
      grid-template-rows: 70px 50px 70px 50px auto; } }
  body #part-builder-main #settings-side-bar #name-lable {
    grid-area: name-label; }
  body #part-builder-main #settings-side-bar #name {
    grid-area: name-input; }
  body #part-builder-main #settings-side-bar #dimensions-label {
    grid-area: dimensions-label; }
  body #part-builder-main #settings-side-bar #dimensions-x-label {
    grid-area: x-label; }
  body #part-builder-main #settings-side-bar #dimensions-y-label {
    grid-area: y-label; }
  body #part-builder-main #settings-side-bar #dimensions-x {
    grid-area: x; }
  body #part-builder-main #settings-side-bar #dimensions-y {
    grid-area: y; }
  body #part-builder-main #settings-side-bar #add-btns {
    grid-area: add-btns;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    padding-bottom: 110px; }
    @media screen and (min-width: 800px) {
      body #part-builder-main #settings-side-bar #add-btns {
        padding-bottom: 65px; } }
    body #part-builder-main #settings-side-bar #add-btns .btn-wrapper {
      position: relative;
      width: 30%; }
      body #part-builder-main #settings-side-bar #add-btns .btn-wrapper button {
        display: contents; }
        body #part-builder-main #settings-side-bar #add-btns .btn-wrapper button img {
          width: 100%; }
        body #part-builder-main #settings-side-bar #add-btns .btn-wrapper button span {
          visibility: hidden;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 100%);
          font-size: 1rem;
          color: white;
          width: 100%; }
        body #part-builder-main #settings-side-bar #add-btns .btn-wrapper button img:hover ~ span {
          visibility: visible; }
  body #part-builder-main #settings-side-bar h1 {
    margin-left: 5px; }
  body #part-builder-main #settings-side-bar h2 {
    width: 100%;
    text-align: start; }
    @media screen and (min-width: 550px) {
      body #part-builder-main #settings-side-bar h2 {
        text-align: end; } }
  body #part-builder-main #settings-side-bar .dimensions {
    width: 100%;
    margin: 1px; }
  body #part-builder-main #settings-side-bar #control-btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 25%; }
    body #part-builder-main #settings-side-bar #control-btns button {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 0;
      font-size: 1.5rem; }
    @media screen and (min-width: 800px) {
      body #part-builder-main #settings-side-bar #control-btns {
        flex-direction: row; }
        body #part-builder-main #settings-side-bar #control-btns button {
          width: 45%;
          font-size: 2rem; } }
