body{
    #part-builder-main {
        #settings-side-bar {
            h1 {
                font-size: .75em
            }
            h2 {
                font-size: 1em;
            }
        }
        #settings-side-bar {
            position: relative;
            display: grid;
            grid-template-areas: 
                    'name-label       name-label       .          .'
                    '.                name-input       name-input .'
                    'dimensions-label dimensions-label .          .'
                    '.                x-label          x-label    .'
                    '.                .                x          .'
                    '.                y-label          y-label    .'
                    '.                .                y          .'
                    'add-btns         add-btns         add-btns   add-btns';
            grid-template-columns: 10% 10% 75% 5%;
            grid-template-rows: 40px 30px 40px 30px 30px 30px 30px auto;
            @media screen and (min-width: 550px){
                grid-template-areas: 
                        'name-label       name-label       .          .'
                        '.                name-input       name-input .'
                        'dimensions-label dimensions-label .          .'
                        '.                x-label          x          .'
                        '.                y-label          y          .'
                        'add-btns         add-btns         add-btns   add-btns';
                grid-template-columns: 10% 40% 40% 10%;
                grid-template-rows: 40px 30px 40px 30px 30px auto;
                h1 {
                    font-size: 1.25em
                }
            }
            @media screen and (min-width: 900px){
                grid-template-rows: 70px 50px 70px 50px 50px auto;
                
                input {
                    font-size: 1.25em;
                }
                h1 {
                    font-size: 2em
                }
                h2 {
                    font-size: 1.5em;
                }
            }
            @media screen and (min-width: 1600px){
                grid-template-areas: 
                    'name-label       name-label       .          .          .          .'
                    '.                name-input       name-input name-input name-input .'
                    'dimensions-label dimensions-label .          .          .          .'
                    '.                x-label          x          y-label    y          .'
                    'add-btns         add-btns         add-btns   add-btns   add-btns   add-btns';
                grid-template-columns: 10% 20% 20% 25% 20% 5%;
                grid-template-rows: 70px 50px 70px 50px auto;
            }
            align-items: center;
            overflow: visible;
            
            #name-lable {grid-area: name-label}
            #name {grid-area: name-input}
            #dimensions-label {grid-area: dimensions-label}
            #dimensions-x-label {grid-area: x-label}
            #dimensions-y-label {grid-area: y-label}
            #dimensions-x {grid-area: x}
            #dimensions-y {grid-area: y}
            #add-btns {
                grid-area: add-btns;
                display: flex;
                position: absolute;
                justify-content: center;
                align-items: flex-start;
                align-self: flex-start;
                width: 100%;
                padding-bottom: 110px;
                @media screen and (min-width: 800px){
                    padding-bottom: 65px;
                }

                .btn-wrapper{
                    position: relative;
                    width: 30%;

                    button {
                        display: contents;

                        img {
                            width: 100%;
                        }
                        span {
                            visibility: hidden;
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translate(-50%, 100%);
                            font-size: 1rem;
                            color: $text-color;
                            width: 100%;
                        }
                        img:hover ~ span{
                            visibility: visible;
                        }
                    }
                }
                // #add-img span {
                //     left: 6%;
                // }
                // #add-connector span {
                //     right: 2%;
                // }
            }
            h1 {
                margin-left: 5px;
            }
            h2 {
                width: 100%;
                text-align: start;
                @media screen and (min-width: 550px){
                    text-align: end;
                }
            }
            .dimensions{
                width: 100%;
                margin: 1px;
            }
            #control-btns {
                position: fixed;
                display: flex;
                flex-direction: column;
                bottom: 0;
                width: 25%;

                button {
                    width: 95%;
                    margin-left: 2.5%;
                    margin-right: 0;
                    font-size: 1.5rem
                }
                @media screen and (min-width: 800px){
                    flex-direction: row;
                    button {
                        width: 45%;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}