body {
    #create-main {
        justify-content: center;
        align-items: center;

        .container {
            position: relative;
            height: 95%;

            .tabs{
                width: 100%;
                overflow: hidden;

                .tab {
                    min-width: 50%;

                    span {
                        font-size: 2em;
                    }
                }
            }
            .content-wrapper {
                margin-top: 1px;

                .content {
                    overflow-x: hidden;
                    overflow-y: scroll;
                    display: flex;
                    flex-direction: column;
                    min-height: 100%;
                    margin: 0;
                    padding: 0;
                    color: #313639;
                    
                    span {
                        margin: 0 0 0 10px;
                    }
                }
            }

            .fixed-action-btn {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}