body #lab-main {
    #parts-side-bar {
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
        padding-bottom: 50px;

        #parts {
            margin: 0;
            width: 100%;
            box-shadow: none;

            li {
                .collapsible-header {
                    color: #313639;
                    padding: 0;
                    padding-right: 1rem;
                    border-left: solid 1px #313639;
                    border-right: solid 1px #313639;

                    h5 {
                        width: 100%;
                        text-align: right;
                    }
                }
                .collapsible-body {
                    img{
                        margin-left: 12.5%;
                        width: 75%;
                    }
                }
            }
        }
        #padding {
            height: 50px;
        }
    }
    #controls {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 10px;
        bottom: 10px;
        width: 25%;
        z-index: 1;

        .btn {
            width: 95%;
        }

        @media screen and (min-width: 800px){
            flex-direction: row;
            .btn {
                width: 45%;
                font-size: 2rem;
            }
        }
    }
}