body {
    #lab-builder-main {
        #workspace {
            position: relative;
            height: 100%;

            #build-so-far {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 75%;
                
                img {
                    max-height: 80vh;
                }
            }
            #new-step-btn {
                display: contents;
                
                img {
                    position: absolute;
                    left: 85%;
                    top: 50%;
                    width: 25%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
                img:hover{
                    opacity: .75;
                }
            }
        }

        #controls {
            display: flex;
            margin: 1%;
            position: absolute;
            bottom: 0;
            width: 73%;
            align-content: center;
            justify-content: right;
            
            #step-details {
                position: fixed;
                left: 0;
                bottom: 0;
                margin: 1vh 1vw;
                padding: 1vh 1vw;
                width: 800px;
                max-width: 70vw;
                max-height: 25%;
                
                .row{
                    overflow-x: visible;
                    overflow-y: scroll;
                    max-height: 100%;
                }

                #minimize {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            #control-btns {
                position: fixed;
                bottom: 0;
                right: 0;
                width: 25%;
            }
        }


        #steps-side-bar {
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden;

            h1{
                position: absolute;
                top: 0;
                width: 100%;
                margin: 0;
                padding-top: 20px;
                text-align: center;
            }
            #step-list {
                position: relative;
                font-size: 1.5rem;
                margin-top: 0;
                margin-left: 10px;
                word-wrap: break-word;
                top: 87px;
                padding-bottom: 65px;
            }
        }


        #part-selector {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            max-width: 90vw;
            width: 1000px;
            height: 90vh;
            overflow: hidden;

            #scroll {
                margin: 0;
                margin-top: 2.5%;
                height: 90%;

                #parts-content {
                    margin: 0;

                    span {
                        width: min-content;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}