body{
    #part-builder-main {
        #settings-side-bar {
            position: relative;
            overflow-x: hidden;
            overflow-y: scroll;
            
            .icon-btn {
                display: contents;
                
                img {
                    cursor: pointer;
                }
                img:hover {
                    opacity: .9;
                }
                img:active {
                    opacity: .75;
                }
            }
            #control-btns {
                position: absolute;
                width: 100%;
                left: 20px;
                bottom: 1px;
            }
        }
    }
}