<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Part Builder - buildLabs</title>
    
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/part_builder.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="indigo lighten-1">
        <div class="nav-wrapper">
            <a id="cover" class="left" href="/"><img class="brand-logo" src="img/cover.png"></a>
            <ul id="nav-mobile" class="right">
                <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
        </div>
    </nav>
    <div class="main row" id="part-builder-main">
        <div id="settings-side-bar" class="section left indigo col s3 hide-on-small-only">
            <div class="row">
                <h2 class="col s10 offset-s1 flow-text">Part Name:</h2>
                <div class="input-field col s12">
                    <input id="part-name" type="text" placeholder="Part Name">
                </div>
                <h2 class="col s10 offset-s1 flow-text">Dimensions:</h2>
                <div class="input-field col s6">
                    <input id="width" class="dimension" type="number" value="12">
                    <label for="width">Width</label>
                </div>
                <div class="input-field col s6">
                    <input id="height" class="dimension" type="number" value="12">
                    <label for="height">Height</label>
                </div>
            </div>
            <div class="row">
                <a href="#img-file-modal" id="add-img" class="icon-btn modal-trigger">
                    <img src="img/add-image.svg" class="col s4 tooltipped" data-position="bottom" data-tooltip="Add Image">
                </a>
                <button id="add-slot" class="icon-btn">
                    <img src="img/add-slot.svg" class="col s4 tooltipped" data-position="bottom" data-tooltip="Add Slot">
                </button>
                <button id="add-connector" class="icon-btn">
                    <img src="img/connector.svg" class="col s4 tooltipped" data-position="bottom" data-tooltip="Add Connector">
                </button>
            </div>
            <div id="control-btns" class="row">
                <button class="btn-large indigo lighten-3 waves-effect col s6" id="save">SAVE</button>
                <a href="/create.html" class="btn-large indigo lighten-3 waves-effect col s6" id="exit">EXIT</a>
            </div>
        </div>
        
        <div id="workspace" class="col s12 m9">
            <div id="part">
                <img>
                <div id="slots"></div>
            </div>
        </div>
        
        <div id="img-file-modal" class="modal indigo">
            <div class="section row">
                <h4 class="col s12 center">Add an Image</h4>
                <div class="file-field input-field col s10 offset-s1">
                    <div class="btn indigo lighten-3 waves-effect">
                        <span>Browse</span>
                        <input type="file" id="img-file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload file" accept="image/*">
                    </div>
                </div>  
                <a id="img-file-cancel" class="modal-close btn indigo lighten-3 waves-effect col s4 offset-s4">CLOSE</a>
            </div>
        </div>
    </div>
</body>
</html>